@import './base.scss';
#app {
    max-width: 1440px;
    margin: 0 auto;
    padding: 3rem;
    font-weight: normal;
    box-sizing: border-box;
}

a,
.green {
    text-decoration: none;
    color: #232321;
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
}

@media (max-width: 600px) {
    body {}
    #app {padding: 0rem;}
}